.benefits{
    padding-top: 60px;
    padding-bottom: 60px;

    &__block{
        max-width: 450px;

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 120px;
            background-color: $backgroundTeamColor;
            background-image: url(../img/benefits/vector.png);
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
            border-radius: 4px;
        }
    }

    &__block:nth-child(2)::before{
        background-image: url(../img/benefits/clock.png);
    }
        
    &__block:nth-child(3)::before{
        background-image: url(../img/benefits/diagram.png);
    }
        
    &__block:nth-child(4)::before{
        background-image: url(../img/benefits/astronaut.png);
    }

    &__block-name{
        color: $titleTextColor;
        font-weight: 700;
        letter-spacing: 0.42px;
        padding-bottom: 10px;
        margin-top: 30px;
        text-align: center;
    }

    &__text{
        color: $titleTextColor;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__block::before{
        background-image: url(../img/benefits/vector.png);
    }
    .benefits__block:nth-child(2)::before{
        background-image: url(../img/benefits/clock.png);
    }
    .benefits__block:nth-child(3)::before{
        background-image: url(../img/benefits/diagram.png);
    }
    .benefits__block:nth-child(4)::before{
        background-image: url(../img/benefits/astronaut.png);
    }
}
@media screen and (min-width: 768px){
    .benefits__block::before{
        background-image: url(../img/benefits/vector.webp);
    }
    .benefits__block:nth-child(2)::before{
        background-image: url(../img/benefits/clock.webp);
    }
    .benefits__block:nth-child(3)::before{
        background-image: url(../img/benefits/diagram.webp);
    }
    .benefits__block:nth-child(4)::before{
        background-image: url(../img/benefits/astronaut.webp);
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__block::before{
        background-image: url(../img/benefits/vector-2x.webp);
    }
    .benefits__block:nth-child(2)::before{
        background-image: url(../img/benefits/clock-2x.webp);
    }
    .benefits__block:nth-child(3)::before{
        background-image: url(../img/benefits/diagram-2x.webp);
    }
    .benefits__block:nth-child(4)::before{
        background-image: url(../img/benefits/astronaut-2x.webp);
    }
}
@media screen and (min-width: 768px){
    .benefits__block{
        width: 354px;
    }
    .benefits__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefits__block:not(:nth-child(1)){
        margin-top: 30px;
    }
    .benefits__block:not(:nth-child(2)){
        margin-top: 30px;
    }
}
@media screen and (min-width: 1200px){
    .benefits{
        &__block{
            width: 270px;
        }

        &__block-name{
            text-align: left;
        }
    }
}