.header{
    padding-bottom: 28px;
    border-bottom: 1px solid $primaryTextColor;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
    }

    &__list{
        display: flex;
    }

    &__logo{
        color: $logoColor;
        font-family: 'Raleway';
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;
    }

    &__site-nav{
        color: $titleTextColor;
        display: flex;
    }

    &__site-link{
        color: $titleTextColor;
        font-weight: 500;
        letter-spacing: 0.28px;
        position: relative;
        margin-right: 53px;

        &:hover,
        &:focus{
            color: $backgroundButtonColor;
        }
    }

    &__site-link.current::after{
        content: "";
        display: block;
        background-color: $backgroundButtonColor;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -35px;
        transition: background-color 2000ms ease;
    }

    &__site-link:hover.current::after{
        background-color: $backgroundColorAfter;
        transition: background-color 2000ms ease;
    }

    &__contact-list{
        font-weight: 500;
        letter-spacing: 0.28px;
        display: flex;
    }
    
    &__contact-item{
        display: flex;
        align-items: center;
    }

    &__contact-item &__site-number{
        transition: color 250ms $timeFunction;
    }

    &__contact-item &__site-email{
        transition: color 250ms $timeFunction;
    }

    &__site-email &__icon-email{
        transition: fill 250ms $timeFunction;
    }

    &__site-number &__icon-phone{
        transition: fill 250ms $timeFunction;
    }

    &__icon-email{
        margin-right: 10px;
        fill: $primaryTextColor;
        text-decoration: none;
    }

    &__icon-phone{
        margin-right: 10px;
        text-decoration: none;
    }

    &__logo-blue{
        color: $backgroundButtonColor;
    }
}


.header__logo-blue{
    color: $backgroundButtonColor;
}

@media screen and (min-width: 768px){
    .header__contact-list{
        display: flex;
        flex-direction: column;
    }
    .header__wrapper{
        padding: 0;
    }
    .header{
        padding-bottom: 2px;
    }
    .header__icon-number{
        margin: 0;
    }
    .header__logo-blue{
        font-size: 24px;
    }
    .header__contact-item-phone{
        padding-top: 10px;
    }
    .header__logo{
        font-size: 24px;
        letter-spacing: 0.72px;
        margin-right: 38px;
        margin-bottom: 26px;
        margin-top: 26px;
    }
    .header__site-link:not(:last-child){
        margin-left: 50px;
    }
}
@media screen and (min-width: 1200px){
    .header__wrapper{
        display: flex;
        justify-content: space-around;
    }
    .header__contact-list{
        flex-direction: row;
    }
    .header__contact-item-phone{
        margin-left: 50px;
        margin-top: -12px;
    }
}
.header__site-email{
    color: $primaryTextColor;

    &:hover{
        animation-name: chMail;
        animation-timing-function: ease;
        animation-duration: 2000ms;
    }
}
@keyframes chMail{
    0%{
        color: $primaryTextColor;
    }
    50%{
        color: $backgroundButtonColor;
    }
    100%{
        color: $primaryTextColor;
    }
}
.header__site-number{
    color: $primaryTextColor;
    margin-top: -2px;

    &:hover{
        animation-name: chNumber;
        animation-timing-function: ease;
        animation-duration: 2000ms;
    }
}
@keyframes chNumber{
    0%{
        color: $primaryTextColor;
    }
    50%{
        color: $backgroundButtonColor;
    }
    100%{
        color: $primaryTextColor;
    }
}
a:hover .header__icon-email{
    animation-name: chEmail;
    animation-timing-function: ease;
    animation-duration: 2000ms;
}
@keyframes chEmail{
    0%{
        fill: $primaryTextColor;
    }
    50%{
        fill: $backgroundButtonColor;
    }
    100%{
        fill: $primaryTextColor;
    }
}
a:hover .header__icon-phone{
    animation-name: chPhone;
    animation-timing-function: ease;
    animation-duration: 2000ms;
}
@keyframes chPhone{
    0%{
        fill: $primaryTextColor;
    }
    50%{
        fill: $backgroundButtonColor;
    }
    100%{
        fill: $primaryTextColor;
    }
}
