.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    z-index: 1;
    background-color: $secondaryTextColor;
    transform: translateX(100%);
    transition-duration: 250ms;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.menu-container.is-open{
    transform: translateX(0);
}
.mobile-menu__contlist{
  margin-bottom: 64px;
}
.mobile-menu__list{
  margin-bottom: 302px;
}
.mobile-social{
  color: $backgroundButtonColor;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
  padding: 0 10px;
}
.mobile-social:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.20);
}
.menu-button-open{
    position: absolute;
    right: 15px;
    top: 25px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 10px;
}
.mobile-menu-link{
    color: $titleTextColor;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus{
  color: $backgroundButtonColor;
}
.mobile-menu__item:not(:nth-child(3)){
    padding-bottom: 32px;
}
.mobile-menu__contact{
  margin-bottom: 32px;
}
.mobile-menu__tel{
  color: $backgroundButtonColor;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  text-decoration: none;
}
.mobile-logo{
  color: $logoColor;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  position: relative;
  top: 16px;
  left: 15px;
}
.mobile-menu__mail{
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.menu-box{
    display: flex;
}
.menu-button-close{
    width: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
}
.menu-button-close:hover,
.menu-button-close:focus{
    fill: $backgroundButtonColor;
}
@media screen and (max-width: 400px){
  .mobile-menu__tel{
    font-size: 24px;
  }
  .mobile-menu__social{
    display: flex;
    flex-direction: column;
  }
  .mobile-social{
    padding: 10px 0;
    border-right: 1px solid white;
  }
  .mobile-menu__list{
    margin-bottom: 250px;
  }
  .mobile-social:not(:last-child){
    border-right: none;
    border-bottom: 1px solid rgba(33, 33, 33, 0.20);
  }
}
@media screen and (min-width: 768px){
  .header__mobile-menu{
    display: none;
  }
}
@media screen and (max-width: 767px){
    .header__logo{
      display: none;
    }
    .header__site-nav{
      display: none;
    }
    .header__list{
      display: none;
    }
    .header__site-link{
      display: none;
    }
    .header__site-email{
      display: none;
    }
    .header__site-number{
      display: none;
    }
}