$primaryTextColor: #757575;
$titleTextColor: #212121;
$secondaryTextColor: #fff;
$backgroundButtonColor: #2196F3;
$primaryBackgroundColor: #fff;
$backgroundTeamColor: #F5F4FA;
$logoColor: #000;
$secondaryBackgroundColor: #2F303A;
$backgroundColorAfter: #196baf;
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);